<div class="myLable">
  <h2>Добавить новую книгу</h2>
</div>

<form [formGroup]="addBook" *ngIf="addBook">
  <mat-form-field class="example-full-width" color="accent">
    <mat-label>Название</mat-label>
    <input matInput placeholder="Название" value="" #name>
  </mat-form-field>
  <mat-form-field class="example-full-width" color="accent">
    <mat-label>Количество страниц</mat-label>
    <input matInput placeformholder="Фамилия" value="" #countPage>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Выбор жанра</mat-label>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let key of genre" value="{{key.id}}">{{key.genre}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button class="addBookButton" mat-raised-button color="accent" (click)="addNewBook(name.value, countPage.value)">Добавить новую книгу</button>

</form>
