<div class="myLable">
  <h2>Детали книги</h2>
</div>
<section class="details-book">

<mat-form-field class="example-full-width" color="accent">
  <mat-label>Название</mat-label>
  <input matInput placeholder="Имя" value="{{bookDetails.name}}" readonly>
</mat-form-field>
<mat-form-field class="example-full-width" color="accent">
  <mat-label>Количетсво страниц</mat-label>
  <input matInput placeformholder="Количетсво страниц" value="{{bookDetails.countPages}}"readonly>
</mat-form-field>
<mat-form-field class="example-full-width" color="accent">
  <mat-label>Жанр</mat-label>
  <input matInput placeholder="Жанр" value="{{bookDetails.genre}}" readonly>
</mat-form-field>
</section>
