.serch{
  position: absolute;
  width: 158px;
  height: 150px;
  background-color: rgb(66, 61, 60);
  border-radius: 0 0  5px 5px;
  .serch__status{
    text-align: center;
    color: wheat;
  }

  ul{
    display: flex;
    flex-direction: column !important;
    color: white;
    list-style: none;
    li{

      cursor: pointer;
      user-select: none;
    }
  }

}
