@import "../../mixin/breakpoints";
@import "../../mixin/vars";

.genre {
  display: flex;
  justify-content: center;
  transition: all 5s;

  .genre__blocks {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;


    @include md-d {
      flex-direction: column;
    }

    .genre__block1 {
      font-size: 16px;

      .genre__body {
        padding: 0px;
        display: flex;
        list-style: none;
        justify-content: center;


        .genre_B {
          @include xl-d {
            display: flex;
            width: 150px;
            margin-left: 20px;
          }

          @include md-d {
            display: none;
          }
        }

        .genre_L {
          @include xl-d {
            display: none;
          }

          @include md-d {
            display: flex;

          }
        }

        li {
          cursor: pointer;
          user-select: none;
          white-space: pre-line;
          width: 50px;
          @include md-d {

          width: 100px;
          }
        }
        li:nth-child(1) {
          width:150px;

        }
        li:nth-child(2) {
          width: 10px;
          @include md-d {
          width: 10px;
          margin-right: 20px;
          }

        }
        li:nth-child(3) {
          @include md-d {
          margin-left: 20px;
          }

        }
        li:nth-child(4) {

          @include md-d {
          margin-left: 30px;
          margin-right: 30px;
          width: 10px;
          }
        }
        li:nth-child(6) {

          @include md-d {
          margin-right: 0px;
          width: 10px;
          }
        }




      }



      .genre__title {
        padding: 0px;
        display: flex;
        list-style: none;

        li {
          cursor: pointer;
          user-select: none;
          margin-right: 58px;
          font-weight: bold;
          width: 60px;
        }

        li:nth-child(2) {
          width: 131px;
          margin-left: -40px;
        }

      }
    }

    .genre__block2 {
      margin-left: 50px;

      @include md-d {
        margin-left: 0px;
        margin-top: 20px;
      }
    }
  }
}
