<div class="myLable">
  <h2>Редактирование книги</h2>
</div>
<form [formGroup]="editAuthorForm" *ngIf="editAuthorForm">
  <mat-form-field class="example-full-width" color="accent">
    <mat-label>Название</mat-label>
    <input matInput placeholder="Название" value="" #name formControlName="name">
  </mat-form-field>
  <mat-form-field class="example-full-width" color="accent">
    <mat-label>Количество страниц</mat-label>
    <input matInput placeformholder="Количество страниц" value="" formControlName="countPage" #CountPage>
  </mat-form-field>
  <mat-form-field appearance="fill" #superOptions2>
    <mat-label>Выбор жанра</mat-label>
    <mat-select #superOptions3 [(value)]="selected">
      <mat-option  #superpuper *ngFor="let key of genre" value="{{key.id}}" sele >{{key.genre}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button *ngIf="editAuthorForm.valid" mat-raised-button color="accent"
    (click)="editBook(name.value, CountPage.value)">Изменить</button>
  <button *ngIf="editAuthorForm.invalid" mat-raised-button color="warn">Изменить</button>
</form>
