<div class="myLable">
  <h2>Дeтали автора</h2>
</div>
<section class="details-author">

<mat-form-field class="example-full-width" color="accent">
  <mat-label>Имя</mat-label>
  <input matInput placeholder="Имя" value="{{authorDetails.fisrtName}}" readonly>
</mat-form-field>
<mat-form-field class="example-full-width" color="accent">
  <mat-label>Фамилия</mat-label>
  <input matInput placeformholder="Фамилия" value="{{authorDetails.lastName}}"readonly>
</mat-form-field>
<mat-form-field class="example-full-width" color="accent">
  <mat-label>Очество</mat-label>
  <input matInput placeholder="Очество" value="{{authorDetails.surname}}" readonly>
</mat-form-field>
<mat-form-field class="example-full-width" color="accent">
  <mat-label>Дата рождения</mat-label>
  <input matInput placeholder="Дата рождения" value="{{authorDetails.dateBirth}}" readonly>
</mat-form-field>
</section>

<section class="Auhorbooks">
  <div class="myLable">
    <h2>Список книг автора</h2>
  </div>
  <div class="book" *ngFor="let book of authorBooks">

    <div class="book__block" >
      <div class="book__info"><span>Название: </span> {{book.name}}</div>
      <div class="book__info"><span>Жанр: </span> {{book.genre}}</div>
      <div class="book__info"><span>Количество страниц: </span> {{book.countPages}}</div>
    </div>
    <div class="book__block">

    </div>
  </div>
</section>
