<div class="myLable">
  <h2>Дeтали автора</h2>
</div>
<section class="details-author">

<mat-form-field class="example-full-width" color="accent">
  <mat-label>Имя</mat-label>
  <input matInput placeholder="Имя" value="{{authorDetails.fisrtName}}" readonly>
</mat-form-field>
<mat-form-field class="example-full-width" color="accent">
  <mat-label>Фамилия</mat-label>
  <input matInput placeformholder="Фамилия" value="{{authorDetails.lastName}}"readonly>
</mat-form-field>
<mat-form-field class="example-full-width" color="accent">
  <mat-label>Очество</mat-label>
  <input matInput placeholder="Очество" value="{{authorDetails.surname}}" readonly>
</mat-form-field>
<mat-form-field class="example-full-width" color="accent">
  <mat-label>Дата рождения</mat-label>
  <input matInput placeholder="Дата рождения" value="{{authorDetails.dateBirth}}" readonly>
</mat-form-field>
</section>
